services:
  minio:
    image: minio/minio:latest
    container_name: oneqit_minio
    ports:
      - "9000:9000"
    command: server /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    networks:
      - network_oneqit
    restart: unless-stopped

volumes:
  minio_data:

networks:
  network_oneqit:
    driver: bridge
